Package: frc2018-openjdk-11-jre
Version: 11.0.0u26-1
Description: FRC OpenJDK Java Runtime Environment
Section: devel
Priority: optional
Maintainer: WPILib Developers <wpilib@wpi.edu>
License: GPL
Architecture: cortexa9-vfpv3
OE: frc2018-openjdk-11-jre
Homepage: http://openjdk.java.net/
