Package: frc2024-openjdk-21-jre
Version: 21.0.1u12-1
Description: FRC OpenJDK Java Runtime Environment
Section: devel
Priority: optional
Maintainer: WPILib Developers <wpilib@wpi.edu>
License: GPL
Architecture: cortexa9-vfpv3
OE: frc2024-openjdk-21-jre
Homepage: https://openjdk.java.net/
